################################################################################
# Build output and IDE files
################################################################################

.vs/
.vscode/
.idea/
*.user
*.suo
**/bin/
**/obj/
artifacts/
TestResults/
